<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Login Form</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: green;
    }
</style>

<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Calendar App </a>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>
<!-- Create HTML create new event form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully created new event!</div>
            </div>

            <h1>Create Event Form</h1>

            <form th:action="@{/create-event}" method="post" th:object="${event}">
                <div class="form-group">
                    <label class="control-label" for="title">Title:</label>
                    <input id="title" class="form-control" th:field="*{title}" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description:</label>
                    <input type="text" id="description" class="form-control" name="description"
                           th:field="*{description}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="startDate">Start Date:</label>
                    <input type="datetime-local" id="startDate" class="form-control" name="startDate"
                           th:field="*{startDate}"
                           pattern="yyyy-MM-dd'T'HH:mm" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endDate">End Date:</label>
                    <input type="datetime-local" id="endDate" class="form-control" name="endDate" th:field="*{endDate}"
                           pattern="yyyy-MM-dd'T'HH:mm" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="color">Color:</label>
                    <input type="text" id="color" class="form-control" name="color" th:field="*{color}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="location">Location:</label>
                    <input type="text" id="location" class="form-control" name="location" th:field="*{location}">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add Event</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>