<!-- show-all-events.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Show All Events</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: green;
    }
</style>

<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Calendar App </a>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>All Events</h1>
            <p>Events: <span th:text="${events}"></span></p>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>startDate</th>
                    <th>endDate</th>
                    <th>color</th>
                    <th>location</th>
                </tr>
                <tr th:each="event : ${events}">
                    <td th:text="${event.title}"></td>
                    <td th:text="${event.description}"></td>
                    <td th:text="${event.startDate}"></td>
                    <td th:text="${event.endDate}"></td>
                    <td th:text="${event.color}"></td>
                    <td th:text="${event.location}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
